@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 0;
}
.active-slide {
    z-index: 2;
    opacity: 1;
    animation-duration: .5s;
    animation-name: fade;
}
.previous-slide {z-index: 1;}
.curtain {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    /*background-image: url("../slide-sources/jazzy_16x9.jpg");*/
    background-size: 100% 100%;
}
.behind-curtain {z-index: -1;}
